@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --main-font: "Alegreya";
  --border-color1: #ddd;
  --border-color2: black;
}

body{
  font-family: var(--main-font);
  height: 100vh;
  margin: 0;
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;

  header{
    border-bottom: solid var(--border-color1) 2px;
    padding: 20px 0px;

    h1{
      background-color: #444;
      font-size: 25px;
      line-height: 28px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    small{
      color: #ddd;
      display: block;
      font-size: 14px;
      line-height: 18px;
      width: 100%;
      text-align: center;
    }
  }

  main{
    flex-grow: 1;
    position: relative;

    #mainButtonsContainer{
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;
      height: 100%;
      overflow: hidden;

      button{
        font-size: 25px;
        cursor: pointer;
        color: white;
        font-family: var(--main-font);
        border: none;
        background-color: transparent;
        height: 100%;
        width: 50%;
        background-image: linear-gradient(to bottom right, #666, #222);
        transition: all 0.3s linear;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
          width: 60px;
          height: 60px;
        }
      } 

      &:hover{
        button:not(:hover) {
          filter: blur(5px);
          width: 49%;
        }

        button:hover {
          font-size: 30px;
          width: 51%;
        }
      }

      button:first-child{
        border-right: solid var(--border-color1) 1px;
      }

      button:last-child{
        border-left: solid var(--border-color1) 1px;
      }
    }

    #videoContainer{
      opacity: 0;
      top: 0;
      left: 0;
      display: none;
      height: 100vh;
      width: 100vw;
      position: fixed;
      background-color: rgba(10, 10, 10, 0.6);
      transition: opacity 0.5s linear;
      grid-template-rows: min-content auto min-content;
      align-items: center;
      justify-items: center;

      &.showStream{
        opacity: 1;
        display: grid;
      }

      #selectCamera{
        font-size: 18px;
        line-height: 25px;
        color: white;
        padding: 2px 10px;
        height: 38px;
        font-family: var(--main-font);
        border: solid var(--border-color2) 3px;
        cursor: pointer;
        background-color: rgba(15, 15, 15, 0.9);
        border-radius: 15px;
        position: relative;
        transition: all 0.2s linear;
        margin: 10px auto;
        width: 300px;
        text-overflow: ellipsis;
        
        &:hover{
          background-color: rgba(15, 15, 15);
        }
      }

      #watchStreamIdInput{
        font-size: 18px;
        line-height: 25px;
        color: white;
        padding: 2px 10px;
        height: 38px;
        font-family: var(--main-font);
        border: solid var(--border-color2) 3px;
        cursor: text;
        background-color: rgba(15, 15, 15, 0.9);
        border-radius: 15px;
        transition: all 0.2s linear;
        margin: 10px auto;
        width: 300px;
        text-overflow: ellipsis;
      }

      video{
        border: solid var(--border-color2) 4px;
        border-radius: 10px;
        max-width: 96%;
        max-height: calc(100vh - 180px);

        &.flipped{
          transform: rotateY(180deg);
        }
      }

      #videoButtonsContainer{
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        padding-top: 10px;
        padding-bottom: 130px;
        
        button{
          font-size: 20px;
          line-height: 28px;
          color: white;
          padding: 2px 10px;
          height: 38px;
          font-family: var(--main-font);
          border: solid var(--border-color2) 3px;
          cursor: pointer;
          background-color: rgba(15, 15, 15, 0.9);
          border-radius: 15px;
          position: relative;
          transition: all 0.2s linear;

          img{
            height: 100%;
          }

          &:hover{
            background-color: rgba(15, 15, 15);
          }
        }
      }

      &.setStreamMode {
        #watchStreamIdInput, #stopWatching{
          display: none;
        }
      }

      &.watchStreamMode {
        #selectCamera, #stopStreaming{
          display: none;
        }
      }
    }
  }

  footer{
    background-color: #222;
    border-top: solid var(--border-color1) 2px;
    display: flex;
    width: 100%;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-around;

    a img{
      border: solid var(--border-color1) 2px;
      border-radius: 10px;
      padding: 4px;
      height: 24px;
      transition: all 0.2s linear;
      display: flex;

      &:hover{
        background-color: #555;
      }
    }
  }
}